.container {
    background-color: #212121;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: #ffffff;
}

.copyright {
    margin: 0 auto;
}